*{
margin:0;
padding:0;
box-sizing:border-box;
}

/*first page start */

.page1{
background-image:url(images/background1.png);
background-position :center;
height:100vh;
background-size:cover;
transition:0.8s;
}

.nav{
widht:100vw;
height:100px;
display:flex;
text-align:center;
align-items:center;
justify-content:space-between;
padding-left:60px;
}

ul,li{
display:flex;
padding:10px 20px;
}

ul li {
list-style-type:none;
border:1px solid black;
transform:skew(-25deg);
transition:0.5s;
background:#92a8d1;
}

ul li a{
text-decoration:none;
color:black;
}

ul li a:hover{
color:black;
}

ul li:hover{
color:black;
text-decoration:underline;
background:#fefbd8;
}

li:first-child{
border-radius:11px 0px 0px 8px;
}

li:last-child{
border-radius:0px 8px 11px 0px;
}

ul li a{
transform:skew(25deg);
}

.page-1-para-1{
width:400px;
height:180px;
font-size:40px;
font-weight:800;
padding-top:60px;
padding-left:60px;
}

.square-box1{
height:12px;
width:12px;
display:inline-block;
background:#f67c92;
margin-top:2px;
margin-left:60px;
}

.page-1-para-2{
width:500px;
height:180px;
padding-left:60px;
}
.page-1-para-2-subtitle{
padding:7px 0;
font-weight:bold;
text-decoration:underline;
text-underline-offset:8px;
text-decoration-color:#f67c92;
cursor:pointer;
}
.page-1-para-2-contant{
font-size:16px;
font-weight:500;
padding:7px 0;
}


.page-1-button{
margin-top:130px;
padding:10px 20px;
font-size:20px;
font-weight:bold;
border:3px solid #f67c92;
border-radius:7px;
cursor:pointer;
margin-left:60px;
}

.page-1-button:hover{
transform:scale(1.1);
transition:0.5s;
background-color:304D6D;
color:F5E0B7;
}

.square-box2{
height:12px;
width:12px;
display:block;
background:#f67c92;
margin-top:20px;
margin-left:60px;
}

.line-1{
height:1px;
width:74px;
display:block;
background:#f67c92;
margin-top:10px;
margin-left:60px;
}

.line-2{
height:1px;
width:59px;
display:block;
background:#f67c92;
margin-top:8px;
margin-left:60px;
}


/*first page complete */



/*second page start */  



.page-2-main{
height:100vh;
background-image:url(images/about.png);
background-size:contain;
background-repeat:no-repeat;
position:relative;
transition:0.8s;
}

.page-2-main-container{
width:500px;
height:0 auto;
float:right;
padding-top:68px;
margin-right:60px;
text-align:right;
}


.page-2-title{
padding-bottom:25px;
font-size:37px;
font-weight:700;
}


.page-2-square-box-1{
height:12px;
width:12px;
display:inline-block;
background:#f67c92;
float:right;
}


.page-2-content{
font-size:15px;
font-weight:600;
line-height:28px;
padding-top:20px;
padding-bottom:20px;
}

.page-2-square-box-2{
height:12px;
width:12px;
display:block;
background:#f67c92;
float:right;
}


.page-2-line-1{
height:1px;
width:74px;
display:block;
background:#f67c92;
float:right;
margin-top:10px;
}

.page-2-line-2{
height:1px;
width:54px;
display:block;
background:#f67c92;
float:right;
margin-top:2px;
}

.page-2-last-para{
font-size:28px;
font-weight:600;
line-height:30px;
padding-top:20px;
padding-bottom:12px;
text-align:center;
}

.page-2-para-footer{
font-size:18px;
font-weight:300;
padding-top:6px;
}

/* second page complete */



/*third page start */



.page-3-main{
width:98.5vw;
height:100vh;
background:white;
display:inline-block;
}

.page-3-main-container{
margin-top:150px;
display:flex;
justify-content:space-between;
}

.icon-1{
width:300px;
height:250px;
background-repeat:no-repeat;
padding-left:60px;
}

.icon-2{
width:300px;
height:250px;
background-repeat:no-repeat;
padding-left:60px;
}

.icon-3{
width:300px;
height:250px;
background-repeat:no-repeat;
}

.page-3-box-1-title{
text-align:center;
padding-top:10px;
padding-bottom:10px;
font-size:20px;
font-weight:bold;
text-decoration:underline;
text-underline-offset:7px;
text-decoration-color:#f67c92;
}

.page-3-box-1-content{
font-size:18px;
font-weight:500;
text-align:justify;
}

.page-3-box-2-title{
text-align:center;
padding-top:10px;
padding-bottom:10px;
font-size:20px;
font-weight:bold;
text-decoration:underline;
text-underline-offset:7px;
text-decoration-color:#f67c92;
}

.page-3-box-2-content{
font-size:18px;
font-weight:500;
text-align:justify;
}

.page-3-box-3-title{
text-align:center;
padding-top:10px;
padding-bottom:10px;
padding-right:30px;
font-size:23px;
font-weight:bold;
text-decoration:underline;
text-underline-offset:7px;
text-decoration-color:#f67c92;
}

.page-3-box-3-content{
font-size:18px;
font-weight:500;
text-align:justify;
padding-right:30px;
}

.features-btn{
padding:10px 20px;
border:3px solid#f67c92;
margin:100px auto;
display:flex;
align-items:flex-end;
justify-content:center;
font-size:24px;
font-weight:bold;
border-radius:7px;
margin-top:200px;
}


.features-btn:hover{
transform:scale(1.1);
transition:1s;
background-color:304D6D;
color:F5E0B7;
}


/*Fourth Page Start*/



#courses{
padding:100px 0;
transition:1s;
}

.course-row{
display:flex;
align-items:center;
flex-wrap:wrap;
}

.course-right-col{
flex-basis:50%;
}

.course-right-col img{
width:100%;
}

.course-left-col{
flex-basis:50%;
}

.page-4-title{
font-size:30px;
font-weight:bold;
line-height:25px;
padding-left:40px;
}

.page-4-square-box{
width:12px;
height:12px;
display:inline-block;
margin-top:17px;
margin-bottom:17px;
background:#f67c92;
margin-left:40px;
}

.page-4-course-name{
text-align:justify;
font-size:22px;
font-weight:600;
line-height:25px;
width:500px;
padding-left:40px;
padding-top:8px;
text-decoration:underline;
text-underline-offset:7px;
text-decoration-color:#f67c92;
}


.page-4-course-explain{
text-align:justify;
font-size:19px;
font-weight:400;
line-height:25px;
padding-left:40px;
text-indent:39px;
padding-top:15px;
}

.page-4-btn{
padding:8px 14px;
border:3px solid #f67c92;
font-size:18px;
font-weight:bold;
border-radius:7px;
margin-left:40px;
margin-top:40px;
}

.page-4-btn:hover{
transform:scale(1.1);
transition:1s;
background-color:304D6D;
color:F5E0B7;
}

.page-4-square-box2{
width:12px;
height:12px;
display:block;
margin-top:13px;
margin-bottom:13px;
background:#f67c92;
margin-left:40px;
}

.page-4-line-1{
height:1px;
width:74px;
display:block;
background:#f67c92;
margin-top:2px;
margin-left:40px;
}

.page-4-line-2{
height:1px;
width:54px;
display:block;
background:#f67c92;
margin-top:10px;
margin-left:40px;
}


/*page-4-completed*/


/*page-5-start*/



#Offer{
padding:100px 0;
transition:1s;
}

.container-offer-row{
display:flex;
align-items:center;
flex-wrap:wrap;
}

.offer-right-col{
flex-basis:50%;
}

.offer-right-col img{
width:100%;
}

.offer-left-col{
flex-basis:50%;
}

.offer-left-col{
flex-basis:50%;
padding-left:30px;
}
.page-5-title{
font-size:39px;
font-weight:bold;
padding:1px;
display:block;	
}
.page-5-square-box{
width:12px;
height:12px;
display:block;
margin-bottom:13px;
background:#f67c92;
}

.page-5-offer-subtitle{
padding:10px 0;
font-size:25px;
font-weight:800;
text-decoration:underline;
text-decoration-color:#f67c92;
text-underline-offset:10px;
cursor:pointer;
}
.page-5-offer-contant{
text-indent:30px;
font-size:20px;
font-weight:500;
}
.page-5-btn{
padding:8px 14px;
border:3px solid #f67c92;
font-size:18px;
font-weight:bold;
border-radius:7px;
margin-top:50px;

}


.page-5-btn:hover{
transform:scale(1.1);
transition:1s;
background-color:304D6D;
color:F5E0B7;
}


/*page-6- start*/



#contact{
padding:100px 0;
transition:1s;
}

.container-page-6-row{
display:flex;
align-items:center;
flex-wrap:wrap;
}

.page-6-left-col{
flex-basis:50%;
}

.page-6-left-col img{
width:100%;
}

.page-6-right-col{
flex-basis:50%;
}

.container-page-6-row{
margin-left:50px;
}

.page-6-title{
font-size:38px;
font-weight:700;
padding-bottom:7px;
}

.page-6-form-box{
border:3px solid #f67c92;
font-size:18px;
font-weight:bold;
border-radius:7px;
padding:8px 15px;
margin:5px 0;
outline:none;
display:block;
}

.page-6-btn{
margin-top:8px;
padding:6px 12px;
border:3px solid #f67c92;
font-size:19px;
font-weight:bold;
border-radius:7px;
}

.page-6-btn:hover{
transform:scale(1.1);
transition:1s;
background-color:304D6D;
color:F5E0B7;
}

.page-6-square-box{
height:12px;
width:12px;
display:block;
background:#f67c92;
margin-top:20px;
}

.page-6-line-1{
height:1px;
width:74px;
display:block;
background:#f67c92;
margin-top:8px;
}

.page-6-line-2{
height:1px;
width:54px;
display:block;
background:#f67c92;
margin-top:5px;
}

.page-6-footer-line{
margin-top:50px;
margin-left:30px;
margin-right:30px;
}


.page-6-container{
width:700px;
justify-content:space-between;
display:flex;
margin-top:20px;
margin-left:30px;
}

.page-6-demo-0{
font-size:25px;
font-weight:bold;
padding-bottom:10px;
color:#f67c92;
}

.page-6-footer-content{
font-size:17px;
font-weight:800;
color:black;
padding:7px 0px;
}


.page-6-demo-1{
font-size:25px;
font-weight:bold;
padding-bottom:10px;
color:#f67c92;
}

.page-6-footer-content-1{
font-size:17px;
font-weight:800;
color:black;
padding:7px 0px;
}


.page-6-demo-2{
font-size:25px;
font-weight:bold;
padding-bottom:10px;
color:#f67c92;
}


.page-6-footer-content-2{
font-size:17px;
font-weight:800;
color:black;
padding:7px 0px;
}


.page-6-demo-3{
font-size:25px;
font-weight:bold;
padding-bottom:10px;
color:#f67c92;

}

.page-6-footer-content-3{
font-size:17px;
font-weight:800;
color:black;
padding:7px 0px;
}
.page-6-footer-bottom{
font-size:15px;
font-weight:bold;
border-radius:7px;
display:block;
text-align:center;
align-items:center;
justify-content:center;
border:none;
}

/*page-6-complete*/

